* {
  margin: 0;
  padding: 0;
}

/* header */
.header {
  background-image: url('img/banu.jpg');
  background-size: cover;
  background-position: center;
  height: 713px;
  color: #fff;
  position: relative;
}

.header * {
  z-index: 5;  /*yazılar saydam tabakanın üzerine gelir.*/
}

.header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6)    /*resim üzerindeki saydam tabaka*/
}

.header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.header .content h1 {
  font-size: 60px;
}

.header .content p {
  font-size: 30px;
  margin: 20px 0;
  color: #fff;
}

/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 75%);
  position: fixed;
  width: 100%;
  height: 70px;
}

.navbar a {
  color: white;
  text-decoration: none;  /*link altındaki çizgiyi siler*/
}

.navbar a:hover {
  border-bottom: 2px solid white;
}

.navbar__logo {
  margin: 0 20px;
}

.navbar li {
  padding: 0 20px;
  font-size: 17px;
  list-style-type: none;  /*listedeki iaşretler kalktı*/
  display: inline-block;  /*linkleri kendi için yan yana koydu*/
}

/*about*/
.about .about-title {
  text-align: center;
  margin: 100px 0px 50px 0px;
  line-height: 50px;
}

.about-item {
  display: flex;
  justify-content: center;
}

.about-item .box {
  width: 300px;
  height: 385px;
  margin: 10px 10px 100px 10px;
}

.box-text h4 {
  text-align: center;
}

.box-text p {
  margin: 15px;
  line-height: 30px;
}

.about-item .box img {
  width: 200px;
  height: 200px;
  padding-left: 60px;
}

.about-image img {
  width: 400px;
  height: 400px;
  margin: 60px 50px 0px 50px;
  border-radius: 10px;
}

.about-detail {
  display: flex;
  height: 500px;
  background: #80808021;
}

.about-detail-text {
  padding: 180px 120px 0px 50px;
}

.about-detail-text h1, p {
  line-height: 30px;
}

/*project*/
.container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  display: flex;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.project-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.project-text {
  text-align: center;
  margin: 100px 0px 60px 0px;
}

/*skill*/
.skill {
  width: 100%;
  height: 400px;
  display: flex;
  margin-bottom: 100px;
  background: #80808021;
}

.skill .skill-text {
  padding: 130px 260px;
}

.bar .item1 {
  width: 630px;
  height: 30px;
  background: #918f8f4b;
}

.bar .item1 p {
  width: 441px;
  height: 30px;
  text-align: center;
  background: gray;
}

.bar .item2 {
  width: 630px;
  height: 30px;
  background: #918f8f4b;
}

.bar .item2 p {
  width: 504px;
  height: 30px;
  text-align: center;
  background: gray;
}

.bar .item3 {
  width: 630px;
  height: 30px;
  background: #918f8f4b;
}

.bar .item3 p {
  width: 567px;
  height: 30px;
  text-align: center;
  background: gray;
}

.bar .item4 {
  width: 630px;
  height: 30px;
  background: #918f8f4b;
}

.bar .item4 p {
  width: 472.5px;
  height: 30px;
  text-align: center;
  background: gray;
}

h4 {
  margin: 15px 0px 15px 15px;
}

/*contact*/
.contact {
  width: 100%;
  height: 650px;
  margin-bottom: 30px;
}

.contact-text {
  line-height: 40px;
  text-align: center;
  margin-bottom: 30px;
}

.contact-detail {
  display: flex;
  margin-left: 30px;
  padding: 50px;
}

.contact-form{
  width: 650px;
  margin: 0px 30px 30px 30px;
  padding: 30px;
}

.contact-form input {
  width: 600px;
  height: 30px;
  margin: 8px;
  border: solid #1d30df4d;
  border-radius: 10px;
}

.contact-form textarea {
  width: 600px;
  margin: 10px;
  border: solid #1d30df4d;
  border-radius: 10px;
}

.contact-form button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin-left: 10px;
  border: solid #1d30df4d;
  border-radius: 10px;
}

/*footer*/
footer {
  height: 100px;
  background: #000000;
}

footer, a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

/*social*/
.social{
  display: flex;
  padding: 20px;
}

.social a{
  padding: 20px;
}

